asgiref==3.8.1
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.0
defusedxml==0.7.1
Django==5.1.6
django-axes==7.0.0
django-crispy-forms==2.3
django-recaptcha==4.0.0
et_xmlfile==2.0.0
idna==3.10
itsdangerous==2.2.0
jira==3.8.0
mssql-django==1.5
oauthlib==3.2.2
openpyxl==3.1.5
packaging==24.1
pillow==11.0.0
pyodbc==5.2.0
python-decouple==3.8
python-dotenv==1.0.1
pytz==2024.2
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
